@import src/assets/styles/company-colors/style-1-colors

.pl-btn-container
    position: relative
    z-index: 1
    overflow: hidden
    margin: 0
    padding: 4px 6px
    border: 0
    outline: none
    border: 1px solid #a8a8a8
    border-radius: 8px
    background: #eee
    transition: border-color .25s ease-out
    &:hover
        border: 1px solid $main-color

    .ripple
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 0
        border: 1px solid transparent
        border-radius: 1px
        animation-name: wave
        animation-timing-function: ease-out
        animation-duration: 1.5s
        animation-fill-mode: none
        animation-iteration-count: 1

@keyframes wave
    from
        transform: scale(0)
        opacity: 0.5

    to
        transform: scale(100)
        opacity: 0
