.prefix-item-box
    padding: 6px 8px 6px 0
    display: flex

    &.vertical
        flex-direction: column

    .prefix-item
        color: #222

        .prefix-item-label
            height: 100%
            font-weight: bold
