.border
    border: 1px solid #555

.yellow
    background-color: yellow

.bule
    background-color: blue

.gray
    background-color: gray

.red
    background-color: red

.black
    background-color: black
