$grid-division: 8.33333%
$col-map: col-xs, col-sm, col-md, col-lg

.container
    box-sizing: border-box
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    transition: all 0.2s linear

@for $i from 1 through 12
    @each $col in $col-map
        .#{$col}-#{$i}
            position: relative
            min-height: 1px

@for $i from 1 through 12
    .col-xs-#{$i}
        flex: 0 0 calc(#{$grid-division} * #{$i})

@media (min-width: 768px)
    @for $i from 1 through 12
        .col-sm-#{$i}
            flex: 0 0 calc(#{$grid-division} * #{$i})

@media (min-width: 992px)
    @for $i from 1 through 12
        .col-md-#{$i}
            flex: 0 0 calc(#{$grid-division} * #{$i})

@media (min-width: 1200px)
    @for $i from 1 through 12
        .col-lg-#{$i}
            flex: 0 0 calc(#{$grid-division} * #{$i})
